body {
margin: 0px;
width: 100%;
height: auto;
background-color: #FBEBCC;
display: flex;
justify-content: center;
}
#main-container {
    width: 1024px;
    height: 4000px;
    background-color: #EFFEFC;
    border: solid 1px #EFFEFC;
}
p{
    height: 75%;
    width: 75%;
    background-color: #
}
h2 { 
    margin: 0%;
    width: ;
}
