body {
margin: 0px;
width: 100%;
height: auto;
background-color: #EFFEFC
display: flex;
justify-content: center;
p{
    height: 75%;
    width: 75%;
    background-color: #
}
h2 { 
    margin: 0%;
    width: ;
}
